@model dynamic;

 <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                <h1>Meet Our Teachers</h1>
            </div>
            <div class="row">
               
                @foreach (Teacher teacher in Model.Teachers)
                  {
                        <div class="col-md-6 col-lg-3 text-center team mb-4">
                                <div class="team-item rounded overflow-hidden mb-2">
                                    <div class="team-img position-relative">
                                        <img class="img-fluid" src="@("/images/Teachers/"+@teacher.Imag)" alt="">
                                        <div class="team-social">
                                            <a class="btn btn-outline-light btn-square mx-1" href="@teacher.Twitter"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-outline-light btn-square mx-1" href="@teacher.Facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-light btn-square mx-1" href="@teacher.Linkedin"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                    <div class="bg-secondary p-4">
                                        <h5>@teacher.Name @teacher.LastName</h5>
                                        <p class="m-0">@teacher.Subjects</p>
                                    </div>
                                </div>
                        </div>
                       
                  }
               
            </div>
        </div>
    </div>
    <!-- Team End -->


   
